@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*:root {*/
/*    --brand-primary: #0768AC;*/
/*    --brand-secondary: #03C180;*/
/*    --bg_default: #FFFFFF;*/
/*    --bg_body: #F0F9FF;*/
/*    --lines-color: #DDDDDD;*/
/*    --body-text: #333333;*/
/*    --heart-color: #DC143C;*/
/*}*/

body[data-theme="light"] {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
    --details-bg: #2D2D2DFF;
    --bg-top: #F0F9FF;

}

body[data-theme="dark"] {
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #1A1A1A;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #EDEDED;
    --heart-color: #DC143C;
    --bg-top: #000000;
;

}