body {
    background-color: var(--bg_body);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--body-text);
}

.top {
    background-color: var(--bg-top);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
}

.nav .home {
    text-decoration: none;
    color: var(--brand-primary);
    cursor: pointer;
    font-weight: 800;
}

.nav .home:hover {
    color: var(--brand-secondary);
    font-weight: 700;
}

.nav .toggle-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .button {
    color: var(--body-text);
    border: solid var(--lines-color) 1px;
    border-radius: 5px;
    padding: 5px 13px;
    background-color: var(--bg_body);
    box-shadow: none !important;
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.nav .button:hover {
    background-color: var(--brand-primary);
    color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--bg-top);
    width: 100%;
    overflow: hidden;
}

.header .text {
    margin-top: 40px;
    align-self: center;
    z-index: 3;
}

.header .text h3 {
    color: var(--brand-secondary);
    font-weight: 900;
    letter-spacing: 1px;
}

.header .triangle {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 75px;
}

.header .left {
    z-index: 1;
    background: linear-gradient(to right, #0768AC, #03C180);
    clip-path: polygon(0 0, 70% 0, 0 20%);
}

.header .right {
    background: linear-gradient(to right, #07ac49, #03C180);
    clip-path: polygon(30% 0, 100% 0, 100% 20%);
}

.view {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 1400px;
}

.main {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 10px;
}

/* Search Bar */
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--body-text);
    background-color: var(--bg_default);
    margin: 0 10px;

}

.search-bar-placeholder {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.input {

    width: 100%;
    color: var(--body-text);
    background-color: var(--bg_default);
    border-radius: 8px;
    border: none;
}

label {
    font-size: 10px;
    font-weight: 100;
}

.search-icon {
    margin-left: 5px;
}

.selector-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: solid 1px var(--lines-color);
    color: var(--body-text);
    padding:  5px 10px;
}

.select {
    display: flex;
    flex-direction: column;
    border: none;
    width: 148px;
    height: 28px;
    background-color: var(--bg_default);
    font-weight: 100;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--body-text);
    margin-left: -4px;
}

/*result section*/
.num-topics {
    margin: 10px 0;
}
.card-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;

}
.card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--bg_default);
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.card img {
    border-radius: 8px 8px 0 0;
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card-details {
    font-size:  0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
}
.info-1 {
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 5px;
}


/*Favorites Modal */
.modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 190px;
    background-color: var(--bg_default);
    display: none; /* Initially hidden changes with JS */
    flex-direction: column;
    padding: 10px 40px;
    z-index: 1;
}

.modal h5 {
    margin: 10px 0;
    letter-spacing: 1px;
}

.modal-card {
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(138, 138, 138, 0.68);
    width: 110px;
    height: 130px;
}

.modal-card-details {
    margin: 5px;
}

.modal img {
    height: 50px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;

}

/* Accents*/
ion-icon {
    padding: 0 5px;
}

ion-icon[name~="heart"] {
    color: var(--heart-color);
}

/* Mobile */
@media (max-width: 500px) {

    .search-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar-placeholder{
        padding: 15px 0;
        border-bottom: solid 1px var(--lines-color);
    }

    .selector-view {
        width: 100%;
        padding-left: 0;
    }

    .selector {
        width: 100%;
    }

    .card-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }

}